<div class="header">
  <div class="contenttext">
  <div class="logo">
    <img src="https://news.ycombinator.com/y18.gif" />
    <span class="title"><a routerLink="/news" >HackerNews</a></span>
  </div>
  <div class="menu-container">
    <ul id="menu">
      <li class="item"><a >news</a></li> |
      <li class="item"><a >newest</a></li> |
      <li class="item"><a >ask</a></li> |
      <li class="item"><a >show</a></li> |
      <li class="item"><a >jobs</a></li>
    </ul>
  </div>
</div>
  <div class="callAPi">
    <button (click)="getApis()" >Login </button>
</div>
</div>
      
    
  
  