.datshow{
    display: flex;
    flex-direction: row;  
    padding: 8px; 
}
.titledata b{
    color: black !important;
}
.titledata{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
    color: #828282;
}